<div class="ltop">
  <div class = "ltop-name">
  <%= link_to edit_user_path(current_user)do%>
  <%=current_user.name%>
  <% end %>
    <a hreh= "#">Tom</a>
</div>
  <div class="ltop-chat">
    <a href="#">チャットを作成する</a>    
  </div>
</div>

<div class="lmains">
  <div class="lmain">
    <div class="lmain-chat">
      <a hreh="#">techroom1</a>
  </div>
  </div>  
  <div class="lmain">
    <div class="lmain-chat">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>