<div class="ltop">
  <div class = "ltop-name">
    <%= link_to current_user.name , edit_user_path(current_user) %>

  </div>
  <div class="ltop-chat">
    <%= link_to "チャットを作成する", new_room_path %>   
  </div>
</div>

<div class="lmains">
  <% current_user.rooms.each do |room| %>
    <div class="lmain">
      <div class="lmain-chat">
        <%= link_to room.name, room_messages_path(room) %>
      </div>
    </div>
  <% end %>
</div>    